---
import { published, withCategory, allCategories } from "@data/post"
import Blog from "@layouts/blog";
import Card from "@components/blog/card";
import { Pagination } from "@sarissa/pagination";

export async function getStaticPaths({paginate}) {
  const markdownFiles = await Astro.glob('../../content/**/*.md');
  const categories = allCategories(markdownFiles);
  // For every tag, return a paginate() result.
  // Make sure that you pass `{params: {tag}}` to `paginate()`
  // so that Astro knows which tag grouping the result is for.
  return categories.map((category) => {
    const posts = withCategory(category.toLowerCase(), markdownFiles);
    return paginate(posts, {
      params: { category: category.toLowerCase() },
      pageSize: 1
    });
  });
}
const { page } = Astro.props;
console.log(page)
const params = Astro.params;
const totalPage = page.lastPage;
const currentPage = page.currentPage;
---

<Blog title="Brian Ketelsen | Blog" waves={true}>
  <section class="py-16 bg-white md:py-24 lg:pb-52"
    style="background-image: url('/flex-ui-assets/elements/pattern-white.svg'); background-repeat: no-repeat; background-position: center top;">
    <div class="container max-w-5xl px-4 mx-auto">
      <div class="flex flex-wrap items-center mb-16">
        <div class="w-full mb-8 md:w-3/4 md:mb-0">
          <span
            class="inline-block px-2 py-px mb-4 text-xs font-medium leading-5 text-blue-500 uppercase bg-blue-100 rounded-full shadow-sm font-title">{params.category}</span>
          <h3 class="mb-4 text-4xl font-bold leading-tight tracking-tighter md:text-5xl text-darkCoolGray-900">Category {params.category}</h3>
          <p class="text-lg font-medium md:text-xl text-coolGray-500">It was too long for a tweet.</p>
        </div>

      </div>
      <div class="flex flex-wrap -mx-4">
        {page.data.map((p) =>
        <Card post={p} />
        )}
      </div>
      <Pagination currentPage={currentPage} {totalPage} url={params.category}/>

<div class="flex items-center justify-between px-4 py-4 my-6 bg-white border-t border-gray-200 sm:px-6">
  <div class="flex justify-between flex-1 sm:hidden">
    <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"> Previous </a>
    <a href="#" class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"> Next </a>
  </div>
  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">{page.start +1}</span>
        to
        <span class="font-medium">{page.end +1}</span>
        of
        <span class="font-medium">{page.total}</span>
        results
      </p>
    </div>
    <div>
      <nav class="relative z-0 inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
        <a href="#" class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-l-md hover:bg-gray-50">
          <span class="sr-only">Previous</span>
          <!-- Heroicon name: solid/chevron-left -->
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
        </a>
        <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
        <a href="#" aria-current="page" class="relative z-10 inline-flex items-center px-4 py-2 text-sm font-medium text-indigo-600 border border-indigo-500 bg-indigo-50"> 1 </a>
        <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-50"> 2 </a>
        <a href="#" class="relative items-center hidden px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-50 md:inline-flex"> 3 </a>
        <span class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300"> ... </span>
        <a href="#" class="relative items-center hidden px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-50 md:inline-flex"> 8 </a>
        <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-50"> 9 </a>
        <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-50"> 10 </a>
        {page.currentPage < page.lastPage &&
        <a href={`/${params.category.toLowerCase()}/${page.currentPage +1}`} class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-r-md hover:bg-gray-50">
          <span class="sr-only">Next</span>
          <!-- Heroicon name: solid/chevron-right -->
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </a>
      }
      </nav>
    </div>
  </div>
</div>

    </div>
  </section>
</Blog>
