---
import type { GhostPostOrPage } from '@lib/ghost';
import Date from "@components/utilities/Date";
import { Img } from "astro-imagetools/components";
const post: GhostPostOrPage = Astro.props.post
const background = post.feature_image ? "bg-base-100" : "bg-primary"
---
<div class="px-1 hover:shadow-2xl card md:w-1/2 lg:w-1/3">
  <a href="/blog/${post.slug}">

  {post.feature_image && (
    <Img
    src={post.feature_image}
    alt={post.title}
    />
    )}
  <div class="px-5 card-body">
    <h2 class="card-title font-title">{post.title}</h2>
    <p>{post.excerpt}</p>
    <div class="justify-end card-actions">
      <div class="mt-2 uppercase badge badge-info">{post.primary_tag.name}</div>

    </div>
  </div>
</a>

</div>
