---
import Date from "@components/utilities/Date";
import { Img } from "astro-imagetools/components";
const {post} =   Astro.props
const background = post.img ? "bg-base-100" : "bg-primary"
---
<div class="px-1 hover:shadow-2xl card md:w-1/2 lg:w-1/3">
  <a href= {'/blog/' + post.slug}>

  {post.img && (
    <Img
    src={post.img}
    alt={post.title}
    />
    )}
  <div class="px-5 card-body">
    <h2 class="card-title font-title">{post.title}</h2>
    <p>{post.excerpt}</p>
    <div class="justify-end card-actions">
      <div class="mt-2 uppercase badge badge-info">{post.category}</div>

    </div>
  </div>
</a>

</div>
