---
import Head from "@components/Head";
import Footer from "@components/Footer";
import Navbar from "@components/NewNavbar";
import ThemeChange from "@components/ThemeChange";
import "@fontsource/inter"
import '../style/tailwind.css';


const settings = {}


const { title } = Astro.props;
const { desc } = Astro.props;
const { img } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<Head title={title} desc={desc} img={img} settings={settings} />

<body class="flex flex-col items-center h-screen h-[100svh]">
  <div class="flex-grow w-full max-w-3xl">
    <Navbar>
      <ThemeChange />
    </Navbar>
    <div class="p-4 pb-10">
      <slot />
    </div>
  </div>
  <Footer settings={settings} />
</body>

</html>
