---
import { published } from "@data/media"
import Blog from "@layouts/blog";
import Date from "@components/utilities/Date";

const markdownFiles = await Astro.glob('../../content/media/**/*.md')
const posts = published(markdownFiles);
---

<Blog title="Media">
  <section class="py-16 md:py-24 lg:pb-52">
    <div class="container max-w-5xl px-4 mx-auto">
      <div class="flex flex-wrap items-center mb-16">
        <div class="w-full mb-8 md:w-3/4 md:mb-0">
          <span
            class="mb-2 uppercase badge badge-success">Media</span>
          <h3 class="mb-6 text-3xl font-bold leading-tight tracking-tight text-base-content font-title md:text-5xl lg:text-6xl">Videos
            and Screencasts</h3>
          <p class="text-lg font-medium md:text-xl text-base-content">Sometimes seeing is believing. I foolishly didn't track these over time. I'll add them as I find them!</p>
        </div>
        <div class="container py-5 mx-auto">
          <div class="divide-y-2 divide-primary">
            {posts.map((p) =>

            <div class="flex flex-wrap py-8 md:flex-nowrap">
              <div class="flex flex-col flex-shrink-0 mb-6 md:w-64 md:mb-0">
                <span class="font-semibold uppercase title-font">{p.host}</span>
                <span class="mt-1 text-sm "><Date date={p.date} /></span>
                {p.participants &&
                <span class="mt-3 text-sm ">with</span>
                }
                {p.participants.map((part) =>
                <span class="mt-1 text-sm ">{part}</span>
                )}
              </div>
              <div class="ml-4 md:ml-0 md:flex-grow">
                <h2 class="mb-2 text-2xl font-medium title-font">{p.title}</h2>
                <p class="leading-relaxed">{p.desc}</p>
                <a href={p.url} class="inline-flex items-center mt-4 text-primary">View
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            )}
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="overflow-hidden text-gray-600 body-font">

  </section>
</Blog>
